
# Nix
use nix # shell.nix
# the TMPDIR, $NIX_BUILD_TOP is deleted after entering in nix-shell
# but the env is still there
mkdir -p "$NIX_BUILD_TOP"

# Git Hooks
# Check the .git/config file
git config core.hooksPath ./.git-hooks

# Used by git-cliff
# https://git-cliff.org/docs/integration/github
export GITHUB_TOKEN
GITHUB_TOKEN=$(pass github/docker-registry)
export GITHUB_REPO=gerardnico/mail-checker

# Used by go releaser
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$GITHUB_TOKEN"

# Ko
export KO_DOCKER_REPO=ghcr.io/gerardnico/mail-checker
