use nix # shell.nix
# the TMPDIR, $NIX_BUILD_TOP is deleted after entering in nix-shell
# but the env is still there
mkdir -p "$NIX_BUILD_TOP"

# For creating package at the command with goreleaser
#export GITHUB_TOKEN
#GITHUB_TOKEN=$(pass github/docker-registry)
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN=$(pass github/docker-registry)

# Ko
export KO_DOCKER_REPO=ghcr.io/gerardnico/mail-checker
